.rvp-projects-even-project {
  position: relative;
  margin: 5rem 0 15rem 0;
  width: 55rem;
  height: 100%;
  display: flex;
}

.rvp-projects-even-prototype-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1rem;
  right: 1rem;
  background-color: var(--color-pink);
  opacity: 0.5;
  z-index: 0;
  border-radius: 10px;
  transition-duration: 0.5s;
}

.rvp-projects-protoype {
  z-index: 1;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 5px var(--color-primary);
  transition-duration: 0.5s;
}

.rvp-project-prototype-image {
  width: 100%;
  cursor: pointer;
}

.rvp-projects-even-project:hover .rvp-projects-even-prototype-background {
  transform: translateY(0.5rem) translateX(-0.5rem);
  transition-duration: 0.5s;
}

.rvp-projects-even-project:hover .rvp-projects-protoype {
  transform: translateY(-0.5rem) translateX(0.5rem);
  transition-duration: 0.5s;
}

.rvp-projects-even-project .rvp-projects-prototype-details {
  position: absolute;
  bottom: -5rem;
  left: -10rem;
  z-index: 2;
  width: 21rem;
  display: flex;
  box-shadow: 0 0 20px 5px var(--color-primary);
  border-radius: 8px;
  overflow: hidden;
}

.rvp-project-details-body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.rvp-project-details-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  background-color: var(--color-purple);
  transition-duration: 0.5s;
  z-index: 0;
}

.rvp-project-details {
  padding: 2rem 2rem;
  z-index: 1;
  transition-duration: 0.5s;
}

.rvp-project-details h3 {
  color: var(--white);
  padding-bottom: 2rem;
  font-weight: var(--bold);
  margin-bottom: 0;
}

.rvp-project-details-body:hover .rvp-project-details-background {
  filter: blur(10px);
  transition-duration: 0.5s;
}

.rvp-project-details-body:hover .rvp-project-details {
  backdrop-filter: blur(10px);
}

.rvp-project-content {
  padding-bottom: 1rem;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: var(--medium);
  color: var(--white);
}

.pd-2 {
  padding-bottom: 2rem;
}

.rvp-projects-even-project .rvp-projects-links {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.rvp-projects-even-project .rvp-project-links-icon svg {
  width: 3rem;
  height: 3rem;
  padding-right: 1rem;
}

.rvp-project-links-icon path {
  width: 100%;
  fill: var(--white) !important;
}

.rvp-projects-even-project .rvp-projects-skills {
  z-index: 999;
  position: absolute;
  top: 105%;
  left: 21rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transform: translateX(-10rem);
}

.rvp-projects-stack-icon {
  height: 3rem;
  width: 3rem;
  z-index: 999;
  filter: grayscale(100%);
  padding-left: 1rem;
  transition-duration: 0.5s;
}

.rvp-projects-stack-icon:hover {
  filter: grayscale(0);
  transition-duration: 0.5s;
}

@media (max-width: 1300px) {
  .rvp-projects-even-project {
    width: 35rem;
  }
  .rvp-projects-even-project .rvp-projects-prototype-details {
    bottom: -5rem;
    right: -10rem;
  }
  .rvp-project-details h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .rvp-project-content {
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 992px) {
  .rvp-projects-even-project {
    margin: 5rem 0 5rem 0;
    display: block;
  }
  .rvp-projects-even-prototype-background {
    height: 48%;
    right: 1rem;
  }
  .rvp-projects-even-project .rvp-projects-protoype {
    transform: translateZ(0);
  }
  .rvp-projects-even-project .rvp-projects-prototype-details {
    transform: translateZ(0);
    position: static;
    width: 100%;
    margin-top: 2rem;
  }
  .rvp-project-details h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
  }
  .rvp-project-content {
    padding-bottom: 1rem;
    font-size: 1rem;
  }
  .rvp-projects-even-project .rvp-projects-skills {
    top: auto;
    bottom: 105%;
    left: auto;
    right: 0;
    transform: translateX(0);
  }
  .rvp-projects-even-project .rvp-projects-stack-icon {
    filter: grayscale(0%);
    padding: 0 !important;
    padding-left: 1rem !important;
  }
}

@media (min-width: 650px) {
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
}

@media (max-width: 650px) {
  .rvp-projects-even-project {
    width: calc(100% - 4rem);
  }
  .d-none {
    display: none;
  }
  .rvp-projects-even-prototype-background {
    height: 100%;
    z-index: 0 !important;
  }
  .rvp-projects-even-project .rvp-projects-protoype {
    overflow: visible;
    display: flex;
  }
  .rvp-project-prototype-image {
    border-radius: 10px;
    z-index: 1 !important;
  }
  .rvp-projects-even-project:hover .rvp-projects-even-prototype-background {
    transform: translateY(1rem) translateX(-1rem);
    transition-duration: 0.5s;
  }
}
