.rvp-about-me-body {
  min-width: 100vw;
  padding-bottom: 10rem;
  position: relative;
  background-color: var(--color-secondary);
}

.rvp-drop-bar {
  position: absolute;
  left: 5%;
  top: 0%;
  width: 20px;
  height: 0px;
  min-height: 0;
  max-height: 70%;
  background-color: var(--white);
}

.rvp-mobile-design {
  position: relative;
  display: flex;
  align-items: center;
  align-items: center;
  min-height: 500px;
  width: 23rem;
  height: 700px;
  margin: 3rem auto 3rem 15rem;
  border-radius: 30px;
  border-style: outset;
  border-width: 15px;
  border-color: rgb(17, 17, 17);
  background-color: var(--color-primary);
  box-shadow: 0px 0px 10px 5px rgb(20, 20, 20);
  overflow: hidden;
  transform: perspective(450px) rotateZ("10deg") translateY(150%);
}

.rvp-mobile-design::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    var(--color-red),
    var(--color-purple) 50%
  );
  z-index: 0;
}

.rvp-mobile-design::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 10.5rem;
  width: 1rem;
  height: 1rem;
  background-color: black;
  border-radius: 50%;
}

.rvp-logo-bar {
  z-index: 1;
  margin-left: 36vmin;
  min-width: 5000px;
  transition-duration: 0.5s;
}

.rvp-logos {
  width: 21.1rem;
  padding: 0 2rem;
}

.rvp-about-me-box {
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  width: 40rem;
}

.rvp-para {
  font-size: 1.5rem;
  font-family: var(--font1);
  font-weight: 400;
  color: var(--white);
  padding-bottom: 2rem;
}

.rvp-skills {
  height: 3.3rem;
  overflow: hidden;
  color: var(--white);
  margin-bottom: var(--bottom-margin);
  transition-duration: 0.5s;
}

.rvp-inline-headings {
  transform: translateY(3.3rem);
  transition-duration: 0.5s;
}

.rvp-max-progress-bar {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--cream);
  /* position: relative; */
  overflow: hidden;
}

.rvp-current-progress {
  width: 0;
  height: 10px;
  /* position: absolute; */
  background-color: var(--color-red);
  /* transition-duration: 0.5s; */
}

.rvp-sm-margin {
  margin-bottom: 10rem !important;
}

@media (max-width: 1350px) {
  .rvp-about-me-box {
    width: 30rem;
  }
  .rvp-mobile-design {
    margin-left: 5rem;
  }
}

@media (max-width: 992px) {
  .rvp-about-me-body {
    padding-bottom: 0;
  }
  .rvp-about-me-box {
    width: 30rem;
    margin: 3rem auto;
  }
  .rvp-mobile-design {
    margin: 3rem auto;
  }
}

@media (max-width: 768px) {
  .rvp-about-me-body {
    padding-bottom: 5rem;
  }
  .rvp-sm-margin {
    margin-bottom: 2rem !important;
  }
  .rvp-drop-bar {
    width: 5px;
    left: 5%;
  }
}

@media (max-width: 530px) {
  .rvp-about-me-box {
    width: 23rem;
  }
  .rvp-mobile-design {
    margin: 3rem auto;
  }
}

@media (max-width: 400px) {
  .rvp-drop-bar {
    width: 5px;
    left: 5%;
  }
  .rvp-mobile-design {
    width: 21rem;
    height: 600px;
    margin: 1rem auto !important;
  }
  .rvp-logos {
    width: 19.1rem;
  }
  .rvp-mobile-design::after {
    left: 9.5rem;
  }
  .rvp-about-me-box {
    width: 90%;
  }
}
