.rvp-popup {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white);
  transition-duration: 0.5s;
  animation: opacityToggle 2s;
}

.rvp-popup-content {
  color: var(--color-primary);
  font-family: poppins;
}

.rvp-popup-content h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: var(--semi-bold);
}

.rvp-popup-content p {
  margin-bottom: 10px;
  font-weight: var(--medium);
}

.rvp-popup-button {
  color: var(--white);
}

.rvp-popup-close {
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--color-primary);
  border-style: none;
  padding: 10px 25px;
  font-family: poppins;
  font-weight: var(--bold);
  border-radius: 5px;
}

.rvp-popup-d-none {
  display: none !important;
}

.rvp-popup-close-menu {
  transition-duration: 0.5s;
  bottom: -200px;
}

@media (max-width: 992px) {
  .rvp-popup-content h3 {
    margin-top: 5px;
    font-size: 1.3rem;
  }

  .rvp-popup-content p {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .rvp-popup-close {
    border-style: none;
    padding: 10px 23px;
    font-weight: var(--semi-bold);
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {
  .rvp-popup {
    display: block;
    padding: 10px 10px;
  }

  .rvp-popup-content h3 {
    margin-top: 0px;
  }

  .rvp-popup-close {
    margin: auto;
  }
}

@keyframes opacityToggle {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
