.rvp-my-contributions {
  width: 100vw;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
}

.rvp-contributions-section {
  width: 82.5rem;
  margin: 0 2rem;
  height: 8rem;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  position: relative;
}

.rvp-contributions-section h3 {
  color: var(--white);
  margin-bottom: 2rem;
}

.rvp-left-arrow,
.rvp-right-arrow,
.rvp-stacks {
  height: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.rvp-left-arrow path {
  fill: var(--color-tartiary);
  transition-duration: 0.3s;
}

.rvp-right-arrow path {
  fill: var(--color-tartiary);
  transition-duration: 0.3s;
}

.rvp-left-arrow path,
.rvp-right-arrow path,
.rvp-left-arrow,
.rvp-right-arrow,
.rvp-contributions-section {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

.rvp-active-arrows {
  fill: var(--color-pink) !important;
  transition-duration: 0.3s;
  cursor: pointer;
}

.rvp-tablet-view {
  position: absolute;
  top: 110%;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: var(--color-quarternary);
  box-shadow: 0 0 10px 5px var(--black);
  padding: 0.5rem;
  transform-origin: bottom;
  display: flex;
  transform: rotateX(45deg);
}

.rvp-tablet-sidebar {
  width: 20rem;
  height: 100%;
  background-color: var(--color-secondary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
  margin-right: 0.5rem;
}

.rvp-tablet-buttons {
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rvp-tablet-buttons:hover {
  background-color: var(--color-primary);
}

.rvp-tablet-active {
  background-color: var(--color-tartiary);
}

.rvp-tablet-active:hover {
  background-color: var(--color-tartiary);
}

.rvp-tablet-buttons img {
  width: 3rem !important;
  max-height: 3rem;
  margin-right: 1rem;
}

.rvp-tablet-buttons p {
  color: var(--white);
  margin: 0%;
}

.rvp-contributions {
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rvp-tablet-carousel {
  width: 100%;
}

.rvp-d-none {
  display: none;
}

@media (min-width: 992px) {
  .rvp-d-lg-block {
    display: block;
  }
}

@media (max-width: 992px) {
  .rvp-contributions-section h3 {
    font-size: 1.3rem;
  }
  .rvp-contributions-section h3 span {
    /* color: var(--color-green) !important; */
  }
  .rvp-left-arrow,
  .rvp-right-arrow,
  .rvp-stacks {
    width: 1.5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .rvp-tablet-view {
    display: block;
  }
  .rvp-tablet-sidebar {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .rvp-tablet-buttons {
    width: auto;
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rvp-tablet-buttons img {
    margin: 0;
    padding: 0.5rem 0;
  }
  .rvp-contributions {
    width: 100%;
    background-color: var(--color-primary);
    overflow: hidden;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
