.rvp-contact-confirm-modal {
  position: fixed;
  right: 130%;
  top: 0;
  height: 100vh;
  width: 100%;
  transition-duration: 0.2s;
}

.rvp-contact-modal-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.rvp-contact-modal-rear-body {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-tartiary);
  opacity: 0.7;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

.rvp-contact-remove-modal-delay {
  transition-delay: 0s;
}

.rvp-toggle-on {
  right: 0;
}

.rvp-contact-modal-body {
  position: relative;
  background-color: var(--color-tartiary);
  height: 100%;
  width: 50%;
}

.rvp-contact-modal-return {
  position: absolute;
  display: flex;
  align-items: center;
  left: 100%;
  /* top: 100px; */
  padding: 15px 30px;
  color: var(--white);
  background-color: var(--color-purple);
  font-size: 1.5rem;
  font-weight: var(--bold);
  border-style: none;
  cursor: pointer;
}

.rvp-contact-modal-return img {
  width: 40px;
}

.rvp-contact-modal-return p {
  margin: 0;
  margin-left: 10px;
}

.rvp-contact-modal-structure {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.rvp-modal-confirm-heading {
  color: var(--white);
  font-size: 3rem;
  font-weight: var(--bold);
  padding-bottom: 3rem;
  text-align: center;
  width: 410px;
  margin: auto;
}

.rvp-modal-confirm-subheading {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: var(--regular);
  margin-bottom: 0;
  padding-bottom: 2rem;
  margin-left: 5px;
}

.rvp-details-field {
  padding-bottom: 2rem;
  margin: auto;
}

label {
  font-size: 1.3rem;
  font-weight: var(--semi-bold);
  font-family: var(--font1);
}

.rvp-name {
  color: var(--color-green);
}

.rvp-email {
  color: var(--color-yellow);
}

.rvp-preference-3 {
  color: var(--color-pink);
}

.rvp-details-field input {
  width: 100%;
  height: 3rem;
  padding: 10px 20px;
  margin-right: 0px;
  border-radius: 5px;
  border-style: none;
}

.rvp-fix-an-appointment-button {
  margin-top: 1rem;
  text-align: center;
}

.rvp-confirm-button {
  border-style: none;
  border-radius: 5px;
  background-color: transparent;
}

input.rvp-checkbox {
  width: auto !important;
  height: auto !important;
  padding: 0;
  margin-right: 10px !important;
  margin-top: 8px;
}

.rvp-contact-checkboxes {
  display: flex;
  align-items: flex-start;
  padding: 0;
  margin-bottom: 1rem;
  width: 400px;
  color: var(--white);
}

.rvp-contact-checkboxes label {
  width: 370px;
}

.rvp-enquiry-success {
  color: var(--color-green);
  font-weight: var(--semi-bold);
  /* margin-top: 2rem; */
}

@media (max-width: 992px) {
  .rvp-modal-confirm-heading {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 2rem;
  }

  .rvp-details-field {
    margin: 0;
    width: 330px;
  }

  input.rvp-checkbox {
    width: 20px;
    height: auto !important;
    padding: 0;
    margin-right: 10px !important;
    margin-top: 8px;
  }

  .rvp-contact-checkboxes input {
    width: 20px !important;
    padding-right: 0px;
    margin-top: 8px !important;
  }

  .rvp-contact-checkboxes label {
    width: 100% !important;
  }

  .rvp-modal-2-submit {
    margin-top: 3rem !important;
  }
}
