.rvp-contact-Enquiry-modal {
  position: fixed;
  right: 130%;
  top: 0;
  height: 100vh;
  width: 100%;
  transition-duration: 0.2s;
}

.rvp-contact-modal-delay {
  transition-delay: 0.2s;
}

.rvp-contact-modal-background {
  position: relative;
  width: 100%;
  height: 100%;
}

.rvp-contact-modal-rear-body {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: var(--color-tartiary);
  opacity: 0.7;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
}

.rvp-contact-remove-modal-delay {
  transition-delay: 0s;
}

.rvp-toggle-on {
  right: 0;
}

.rvp-contact-modal-body {
  position: relative;
  background-color: var(--color-tartiary);
  height: 100%;
  width: 50%;
}

.rvp-contact-modal-return {
  position: absolute;
  display: flex;
  align-items: center;
  left: 100%;
  top: 100px;
  padding: 15px 30px;
  color: var(--white);
  background-color: var(--color-purple);
  font-size: 1.5rem;
  font-weight: var(--bold);
  border-style: none;
  cursor: pointer;
}

.rvp-contact-modal-return img {
  width: 40px;
}

.rvp-contact-modal-return p {
  margin: 0;
  margin-left: 10px;
}

.rvp-contact-modal-structure {
  margin-top: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.rvp-modal-enquiry-heading {
  color: var(--white);
  font-size: 3rem;
  font-weight: var(--bold);
  padding-bottom: 5rem;
  text-align: center;
}

.rvp-modal-enquiry-subheading {
  color: var(--white);
  font-size: 1.3rem;
  font-weight: var(--regular);
  margin-bottom: 0;
  padding-bottom: 2rem;
  margin-left: 5px;
}

.rvp-preference-field {
  width: max-content;
  padding-bottom: 2rem;
  margin: auto;
}

label {
  font-size: 1.3rem;
  font-weight: var(--semi-bold);
  font-family: var(--font1);
}

.rvp-preference-1 {
  color: var(--color-green);
}

.rvp-preference-2 {
  color: var(--color-yellow);
}

.rvp-preference-3 {
  color: var(--color-pink);
}

input {
  width: 200px;
  height: 3rem;
  padding: 10px 20px;
  margin-right: 40px;
  border-radius: 5px;
  border-style: none;
}

select {
  width: 200px;
  height: 3rem;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: none;
}

.rvp-fix-an-appointment-button {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.rvp-enquiry-button {
  border-style: none;
  border-radius: 5px;
  background-color: transparent;
}

.rvp-contact-modal-responsive-return {
  display: none;
}

.rvp-enquiry-error {
  color: var(--color-red);
  font-weight: var(--semi-bold);
}

@media (max-width: 992px) {
  .rvp-contact-modal-body {
    width: 100%;
    margin-left: 0 !important;
  }

  .rvp-contact-modal-return {
    right: 5px;
    left: auto;
    top: 135px !important;
  }

  .rvp-contact-modal-return img {
    width: 40px;
    transform: rotateY(180deg);
  }

  .rvp-contact-modal-return p {
    margin: 0;
    margin-left: 10px;
    display: none;
  }

  .rvp-modal-enquiry-heading {
    font-size: 2.5rem;
    text-align: left;
    padding-bottom: 2rem;
  }

  .rvp-contact-modal-structure {
    align-items: flex-start;
    overflow: auto;
    padding-top: 4rem;
    padding-bottom: 0;
  }

  .rvp-contact-modal-responsive-return {
    display: block;
    margin: auto;
    margin-top: 1rem;
    padding: 20px 30px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: var(--font1);
    text-transform: uppercase;
    font-weight: var(--bold);
    background-color: var(--color-purple);
    color: var(--white);
    border-style: none;
    border-radius: 5px;
    width: 300px;
  }

  .rvp-preference-field {
    margin: 0;
    width: 400px;
  }

  .rvp-preference-field input {
    width: 100%;
    padding-right: 0px;
    margin: 0;
    margin-bottom: 1rem;
  }

  .rvp-preference-field select {
    width: 100%;
  }

  .rvp-fix-an-appointment-button {
    margin: 1rem 0 5rem 0;
  }
}

@media (max-width: 440px) {
  .rvp-preference-field {
    margin: 0;
    width: 330px;
  }
}
