.rvp-button {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 20px 30px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-family: var(--font1);
  text-transform: uppercase;
  font-weight: var(--bold);
  border-style: none;
  border-radius: 5px;
  border-color: var(--white);
  background-color: var(--white);
  color: var(--white);
}

.rvp-bubbles {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 105%;
  left: calc((1 / 6) * 100%);
  border-radius: 50%;
  border-style: solid;
  border-color: var(--color-tartiary);
  border-width: 1px;
  animation: float-to-top;
  -moz-animation: float-to-top;
  animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

.rvp-bubble-red {
  background-color: var(--color-red);
  left: calc((1 / 6) * 100%);
  animation-duration: 7s;
  -moz-animation-duration: 7s;
}

.rvp-bubble-yellow {
  background-color: var(--color-yellow);
  left: calc((2 / 6) * 100%);
  animation-duration: 3s;
  -moz-animation-duration: 3s;
}

.rvp-bubble-purple {
  background-color: var(--color-purple);
  left: calc((3 / 6) * 100%);
  animation-duration: 2s;
  -moz-animation-duration: 2s;
}

.rvp-bubble-pink {
  background-color: var(--color-pink);
  left: calc((4 / 6) * 100%);
  animation-duration: 4s;
  -moz-animation-duration: 4s;
}

.rvp-bubble-green {
  background-color: var(--color-green);
  left: calc((5 / 6) * 100%);
  animation-duration: 5s;
  -moz-animation-duration: 5s;
}

.rvp-fix-an-appointment {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0.1px;
  color: var(--color-primary);
  transition-duration: 0.5s;
}

@keyframes float-to-top {
  0% {
    top: 110%;
    transform: scale(1);
  }

  80% {
    transform: scale(1);
  }
  100% {
    top: 50%;
    transform: scale(1.3);
  }
}
