.rvp-heading-body {
  font-size: 4rem;
  font-weight: 999;
  font-family: var(--font1);
  font-weight: var(--bold);
  color: var(--white);
  margin: var(--head-margin);
}

.rvp-heading-body span {
  color: var(--color-yellow);
}

@media (max-width: 530px) {
  .rvp-heading-body {
    font-size: 3rem;
  }
}
