.rvp-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition-duration: 0.5s;
  z-index: 999;
}

.rvp-modal-structure {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rvp-modal-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.404);
  backdrop-filter: blur(5px);
  z-index: 0;
}

.rvp-modal-body {
  z-index: 1;
  max-width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hero {
  color: white;
}

.rvp-hide-modal {
  left: 100%;
  transition-duration: 0.5s;
}

video.rvp-hobby-log {
  max-height: 70vh;
  max-width: 80vw;
  border-style: none;
}

.rvp-go-back {
  position: absolute;
  top: 80px;
  right: 50px;
  cursor: pointer;
  width: 5rem;
  z-index: 2;
}

@media (max-width: 992px) {
  .rvp-modal-body {
    max-width: 100vw;
    height: auto;
    max-height: 100vh;
  }
  video.rvp-hobby-log {
    max-height: 100vh;
    max-width: 100vw;
  }
  .rvp-go-back {
    width: 3rem !important;
  }
}

@media (max-width: 510px) {
  .rvp-go-back {
    right: 10vw;
  }
}
