.rvp-UnderConstruction {
  margin-top: -52px;
  width: 100vw !important;
  height: 100vh;
  background-color: var(--color-primary);
  background-size: cover;
  overflow: hidden;
}

.rvp-UnderConstruction-structure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rvp-UnderConstruction-body {
  text-align: left;
  margin-top: 55px;
}

.rvp-UnderConstruction-404 {
  font-size: 10rem;
  font-family: var(--font1);
  width: 30rem;
  color: var(--color-green);
  margin: 0px;
}

.rvp-UnderConstruction-description {
  font-family: var(--font1);
  color: var(--white);
  width: 30rem;
  margin: 0px;
  padding-left: 10px;
}

.rvp-UnderConstruction-home-btn {
  color: var(--white);
  font-weight: var(--bold);
  font-family: var(--font1);
  text-transform: uppercase;
  background-color: transparent;
  border-style: solid;
  border-color: var(--white);
  border-radius: 5px;
  padding: 10px 40px;
  margin: 30px 10px;
}

.rvp-UnderConstruction-back-btn {
  color: var(--color-primary);
  font-weight: var(--bold);
  font-family: var(--font1);
  text-transform: uppercase;
  background-color: var(--white);
  border-style: none;
  border-color: var(--white);
  border-radius: 5px;
  padding: 10px 40px;
  margin: 30px 10px;
}

.rvp-UnderConstruction-placeholder {
  padding: 2.5rem;
  width: 28rem;
}

@media (max-width: 992px) {
  .rvp-UnderConstruction {
    margin-top: -58px;
    height: auto;
    min-height: 100vh !important;
  }
  .rvp-UnderConstruction-structure {
    min-height: 100vh !important;
  }
  .rvp-UnderConstruction-body {
    text-align: center;
  }
  .rvp-UnderConstruction-404 {
    font-size: 5rem;
    width: 80%;
    margin: auto;
  }
  .rvp-UnderConstruction-description {
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }
  .rvp-UnderConstruction-placeholder {
    padding: 10px;
    width: auto;
  }
  .rvp-UnderConstruction-placeholder img {
    width: 10rem;
    height: 10rem;
  }
}
/* 
  @media (max-height: 460px) {
    .rvp-UnderConstruction {
    }
  } */
.rvp-UnderConstruction {
  margin-top: -52px;
  width: 100vw !important;
  height: 100vh;
  background-color: var(--color-primary);
  background-size: cover;
  overflow: hidden;
}

.rvp-UnderConstruction-structure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rvp-UnderConstruction-body {
  text-align: left;
  margin-top: 55px;
}

.rvp-UnderConstruction-404 {
  font-size: 10rem;
  font-family: var(--font1);
  width: 30rem;
  color: var(--color-green);
  margin: 0px;
}

.rvp-UnderConstruction-description {
  font-family: var(--font1);
  color: var(--white);
  width: 30rem;
  margin: 0px;
}

.rvp-UnderConstruction-home-btn {
  color: var(--white);
  font-weight: var(--bold);
  font-family: var(--font1);
  text-transform: uppercase;
  background-color: transparent;
  border-style: solid;
  border-color: var(--white);
  border-radius: 5px;
  padding: 10px 40px;
  margin: 30px 10px;
}

.rvp-UnderConstruction-back-btn {
  color: var(--color-primary);
  font-weight: var(--bold);
  font-family: var(--font1);
  text-transform: uppercase;
  background-color: var(--white);
  border-style: none;
  border-color: var(--white);
  border-radius: 5px;
  padding: 10px 40px;
  margin: 30px 10px;
}

.rvp-UnderConstruction-placeholder {
  padding: 2.5rem;
  width: 28rem;
}

@media (max-width: 992px) {
  .rvp-UnderConstruction {
    margin-top: -58px;
    height: auto;
    min-height: 100vh !important;
  }
  .rvp-UnderConstruction-structure {
    min-height: 100vh !important;
  }
  .rvp-UnderConstruction-body {
    text-align: center;
  }
  .rvp-UnderConstruction-404 {
    font-size: 5rem;
    width: 80%;
    margin: auto;
  }
  .rvp-UnderConstruction-description {
    font-size: 1rem;
    width: 80%;
    margin: auto;
  }
  .rvp-UnderConstruction-placeholder {
    padding: 10px;
    width: auto;
  }
  .rvp-UnderConstruction-placeholder img {
    width: 17rem;
    height: 17rem;
  }
}
/* 
@media (max-height: 460px) {
  .rvp-UnderConstruction {
  }
} */
